<%= render 'layouts/header' %>
<div id="home-hero">
	<div class="container">
		<div class="col-md-8 col-md-offset-2 home-banner">
			<h1 class="center">The Smarter Way To Find Your Dog</h1>
			<div id="home-form">
				<form>
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<input type="select" name="breed'" class="form-control" placeholder="What Kind Of Dog Are You Looking For?">
							</div>
							<div class="col-md-4">
								<input type="select" name="location'" class="form-control" placeholder="Location (city, state or ZIP)">
							</div>
							<div class="col-md-2">
								<a class="btn-bark" href="#">Search</a>
							</div>
						</div>
					</div>
				</form> 
			</div>
		</div>
	</div>
</div>
<div id="home-first" class="home-panel">
	<div class="container">
		<div class="col-md-12">
			<h1>Featured Breeders</h1>
			<h4>Ready to meet your new best friend? These Breeders have puppies available now!</h4>
			<div class="row">
				<div id="breeders" class="transitions-enabled">
				  <% @breeders.each do |breeder| %>
				  	<div class="home-breeder col-md-4">
				      <%= link_to image_tag(breeder.image.url(:medium)), breeder %>
				    	<div class="home-breeder-name center">
				        	<%= link_to breeder_path(breeder) do %>
				        	<h4><%= breeder.name %></h4>
				        	<% end %>
				    	</div>
				    </div>
				  <% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="home-second" class="home-panel">
	<div class="container">
		<div class="col-md-4">
			<h3>Adoption Guide</h3>
			<p>Dog adoption can one of the most exciting times. Learn more about responsible adoption and care with our library of information.</p>
			<p><a href="#">Learn about responsible adoption</a></p>
		</div>
		<div class="col-md-4">
			<h3>Training</h3>
			<p>Turn that little rascal into a well-behaved pooch using one of our many how-to guides.</p>
			<p><a href="#">Training guides and resources</a></p>
		</div>
		<div class="col-md-4">
			<h3>Food and Supplies</h3>
			<p>Everything you need to care for your pup is just a click away.</p>
			<p><a href="#">Food, toys and more</a></p>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>