<%= form_for @breeder, html: { multipart: true } do |f| %>
  <% if @breeder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@breeder.errors.count, "error") %> prohibited this breeder from being saved:</h2>

      <ul>
      <% @breeder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Name" %><br>
    <%= f.text_field :name, class: "form-control", placeholder: "ex. Penny's Perfect Puppies" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control", placeholder: "A short description of what makes you great..." %>
  </div>

  <div class="form-group">
    <%= f.label "Type of Dogs" %><br>
    <%= f.text_field :breed, class: "form-control", placeholder: "ex. Golden Retriever, Poodle, etc." %>
  </div>

  <div class="form-group">
    <%= f.label "Images" %><br>
    <%= f.file_field :image %>
    <p class="italic">Images should be square to avoid stretching.</p>
  </div>

  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control", placeholder: "ex. Atlanta, GA or 30305" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "form-control", placeholder: "(404) 555-5555" %>
  </div>

  <div class="form-group">
    <%= f.label "Allow Reservations?" %><br>
    <%= f.select :reservation, [['Yes', true], ['No', false]] %>
  </div>

  <div class="form-group">
    <%= f.label "Deposit Required (in dollars)" %><br>
    <%= f.text_field :deposit, class: "form-control", placeholder: "100" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-signup" %>
  </div>
<% end %>