<%= render 'layouts/header' %>

<div class="container">

  <%= form_tag breeders_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search Near", :name => nil %>
    </p>
  <% end %>

  <div id="breeders" class="transitions-enabled">
    <% @breeders.each do |breeder| %>
      <div class="box panel panel-default">
        <%= link_to image_tag(breeder.image.url(:medium)), breeder %>
        <div class="panel-body">
          <%= breeder.description %>
          <%= breeder.user.email if breeder.user %>
          <%= link_to 'Show', breeder_path(breeder) %>
          <% if breeder.user == current_user %>
            <%= link_to 'Edit', edit_breeder_path(breeder) %>
            <%= link_to 'Destroy', breeder, method: :delete, data: { confirm: 'Are you sure?' } %>     
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

<%= render 'layouts/footer' %>