<div class="container">

  <h1>Listing breeders</h1>

  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @breeders.each do |breeder| %>
        <tr>
          <td><%= breeder.description %></td>
          <td><%= breeder.user.email if breeder.user %></td>
          <td><%= link_to 'Show', breeder %></td>
          
          <% if breeder.user == current_user %>
              <td><%= link_to 'Edit', edit_breeder_path(breeder) %></td>
          <% end %>
          
          <td><%= link_to 'Destroy', breeder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if user_signed_in? %>
    <%= link_to 'New Breeder', new_breeder_path %>
  <% end %>

</div>